<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Checkpoints </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Checkpoint </h4>
        <hr>
        <form action="/checkpoints/update/<%= checkpoint.id %>" method="POST">
            <div class="inserir-dados">
            <label> Nome do Checkpoint:</label>
            <input type="text" name="nomeCheckpoint" value="<%= checkpoint.nomeCheckpoint %>" class="form-input" required>
            <br>

            <label> Descrição do Checkpoint:</label>
            <textarea name="descricaoCheckpoint" value="<%= checkpoint.descricaoCheckpoint %>" class="form-input">
            </textarea>

            <br>
            <label> Rota do Checkpoint: </label>
            <select name="tituloRota" value="<%= checkpoint.tituloRota %>">
                <option value="#">KKKK</option>
              </select> 
              <br>

            <label> Longitude do Checkpoint:</label>
            <input type="text" name="longitudeCheckpoint" value="<%= checkpoint.longitudeCheckpoint %>" class="form-input" required>
            <label>Latitude do Checkpoint:</label>
            <input type="text" name="latitudeCheckpoint" value="<%= checkpoint.latitudeCheckpoint %>" class="form-input" required>
            
            <label>Imagem do Checkpoint:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                <form action="/upload-foto-checkpoint">
                    <input type="file" name="imagemCheckpoint" value="<%= checkpoint.imagemCheckpoint %>" class="btn-arquivo">    
                </form>
            </div>

            <br><br>
            <div class="div-botao">
                <input type="hidden" name="id" value="<%= checkpoint.id %>">
            <input type="submit" class="button-cadastro" value="Alterar" onclick="return confirm (`Confirme as alterações realizadas para o checkpoint <%= checkpoint.nomeCheckpoint %>`)">Cadastrar </button>
            </div>
            <br>
            
            </div>
        </form>
    </div>

<%- include ('partials/footer.ejs') %>
