
<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Checkpoints </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Checkpoint </h4>
        <hr>
        <form action="/checkpoints/new" method="POST">
            <div class="inserir-dados">
            <label> Nome do Checkpoint:</label>
            <input type="text" name="nomeCheckpoint" value="<%= checkpoints.nomeCheckpoint%>" class="form-input">
            <br>

            <label> Descrição do Checkpoint:</label>
            <input type="text" name="descricaoCheckpoint" value="<%= checkpoints.descricaoCheckpoint%>" class="form-input">

            <br>
            <label> Rota do Checkpoint: </label>
            <select name="tituloRota" value="<%= checkpoints.tituloRota %>">
                <option value="kkkk">KKKK</option>
              </select> 
              <br>

            <label> Longitude do Checkpoint:</label>
            <input type="text" name="longitudeCheckpoint" value="<%= checkpoints.longitudeCheckpoint %>" class="form-input" required>
            <label>Latitude do Checkpoint:</label>
            <input type="text" name="latitudeCheckpoint" value="<%= checkpoints.latitudeCheckpoint %>" class="form-input" required>
            
            <label>Imagem do Checkpoint:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
               
                    <input type="file" name="imagemCheckpoint" value="<%= checkpoints.imagemCheckpoint %>" class="btn-arquivo" required>    
              
            </div>
            
            <br><br>
            <div class="div-botao">
                <button name="cadastrar-checkpoint" class="button-cadastro" type="submit"> Cadastrar </button>
            </div>
            </div>
        </form>
    </div>

        <div class="consultar">
            <h4> Consultar Checkpoint </h4>
            <table>
              <thead>
                <th> Id </th>
                <th> Nome do Checkpoint </th>
                <th> Descrição </th>
                <th> Rota </th>
                <th> Descrição </th>
                <th> Longitude </th>
                <th> Latitude </th>
                <th> Imagem </th>
              </thead>
              <tbody>
                <% checkpoints.forEach(checkpoint => { %>
                <tr>
                    <td><%= checkpoint.nomeCheckpoint %></td>
                    <td><%= checkpoint.latitudeCheckpoint %></td>
                    <td><%= checkpoint.longitudeCheckpoint %></td>
                    <td><%= checkpoint.tituloRota %></td>
                    <td><%= checkpoint.descricaoCheckpoint %></td>
                    <td><a style="color: orange;" href="/checkpoints/edit/<%= checkpoint.id %>">Editar</a></td>
                    <td><a style="color: red;" href="/checkpoints/delete/<%= checkpoint.id %>">Excluir</a></td>
                </tr>
                <% }) %>
              </tbody>
     
            </table>
    </div>
</div>

<%- include ('partials/footer.ejs') %>

