<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Checkpoints </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Checkpoint </h4>
        <hr>
        <form action="/checkpoints/update/<%= checkpoint.id %>" method="POST">
            <div class="inserir-dados">
            <label> Nome do Checkpoint:</label>
            <input type="text" name="nome-checkpoint" value="<%= checkpoint.nomeCheckpoint %>" class="form-input" required>
            <br>

            <label> Descrição do Checkpoint:</label>
            <textarea id="descricao-checkpoint" name="descricao-checkpoint" value="<%= checkpoint.descricaoCheckpoint %>" class="form-input" placeholder="Digite nome do checkpoint">
            </textarea>

            <br>
            <label> Rota do Checkpoint: </label>
            <select name="rota-checkpoint" value="<%= checkpoint.tituloRota %>">
                <option value="#">KKKK</option>
              </select> 
              <br>

            <label> Longitude do Checkpoint:</label>
            <input type="text" name="longitude-checkpoint" value="<%= checkpoint.longitudeCheckpoint %>" class="form-input" required>
            <label>Latitude do Checkpoint:</label>
            <input type="text" name="latitude-checkpoint" value="<%= checkpoint.latitudeCheckpoint %>" class="form-input" required>
            
            <label>Imagem do Checkpoint:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                <form action="/upload-foto-checkpoint">
                    <input type="file" name="upload-capa" value="<%= imagemCheckpoint %>" class="btn-arquivo" required>    
                </form>
            </div>
            
            <br><br>
            <div class="div-botao">
                <button name="cadastrar-checkpoint" class="button-cadastro"> Cadastrar </button>
            </div>
            <br>
            <input type="hidden" name="id" value="<%= checkpoint.id %>">
            <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm (`Confirme as alterações
            realizadas para o checkpoint <%= checkpoint.nomeCheckpoint %>`)">
            </div>
        </form>
    </div>

<%- include ('partials/footer.ejs') %>
