
<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Checkpoints </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Checkpoint </h4>
        <hr>
        <form action="/checkpoints/new" method="POST">
            <div class="inserir-dados">
            <label> Nome do Checkpoint:</label>
            <input type="text" name="nomeCheckpoint" value="<%= checkpoints.nomeCheckpoint%>" class="form-input">
            <br>

            <label> Descrição do Checkpoint:</label>
            <input type="text" name="descricaoCheckpoint" value="<%= checkpoints.descricaoCheckpoint%>" class="form-input">

            <br>
            <label> Rota do Checkpoint: </label>
            <select name="tituloRota" value="<%= checkpoints.tituloRota %>">
                <option value="kkkk">KKKK</option>
              </select> 
              <br>

            <label> Longitude do Checkpoint:</label>
            <input type="text" name="longitudeCheckpoint" value="<%= checkpoints.longitudeCheckpoint %>" class="form-input" required>
            <label>Latitude do Checkpoint:</label>
            <input type="text" name="latitudeCheckpoint" value="<%= checkpoints.latitudeCheckpoint %>" class="form-input" required>
            
            <label>Imagem do Checkpoint:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
               
                    <input type="file" name="imagemCheckpoint" value="<%= checkpoints.imagemCheckpoint %>" class="btn-arquivo" required>    
              
            </div>
            
            <br><br>
            <div class="div-botao">
                <button name="cadastrar-checkpoint" class="button-cadastro" type="submit"> Cadastrar </button>
            </div>
            </div>
        </form>
    </div>

        <div class="consultar">
            <h4> Consultar Checkpoint </h4>
            <table>
              <thead>
                <th> Id </th>
                <th> Nome do Checkpoint </th>
                <th> Descrição </th>
                <th> Rota </th>
                <th> Latitude </th>
                <th> Longitude </th>
              </thead>
              <tbody>
                <% checkpoints.forEach(checkpoint => { %>
                <tr>
                    <td><%= checkpoint.id %></td>
                    <td><%= checkpoint.nomeCheckpoint %></td>
                    <td><%= checkpoint.descricaoCheckpoint %></td>
                    <td><%= checkpoint.tituloRota %></td>
                    <td><%= checkpoint.latitudeCheckpoint %></td>
                    <td><%= checkpoint.longitudeCheckpoint %></td>
                    <td><%= checkpoint.imagemCheckpoint %></td>
                    <td><a href="/checkpoints/edit/<%= checkpoint.id %>"><Button name="editar-usuario" class="btn-editar"> <i class = "fas fa-pencil"></i></Button></a></td>
                    <td><a href="/checkpoints/delete/<%= checkpoint.id %>"><Button name="excluir-usuario" class="btn-excluir"> <i class = "fas fa-cancel"></i></Button></a></td>
                    <td>
                      <Button name="abrir-mapa" class="abrir-modelagem" id="abrir-mapa"> <i class = "fas fa-map"></i></Button>
  
                          <dialog id="conteudo-mapa">
                              <div class="corpo-modal">
                                  <main>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3630.9393819060433!2d-47.842970252507634!3d-24.487557096272983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c535001cc9a027%3A0x660e36945a045739!2sKKKK%20Registro%20-spppp!5e0!3m2!1spt-BR!2sbr!4v1746838800322!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                    </main>                                    
                              </div>
                          </dialog>
  
              </td>

                </tr>
                <% }) %>
              </tbody>
     
            </table>
    </div>
</div>

<%- include ('partials/footer.ejs') %>

