<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
  <h3> Registro de Modelagens </h3>
  <hr>

<div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Modelagem </h4>
        <hr>
        <form action="/modelagens/new" method="POST">
            <div class="inserir-dados">
            <label> Nome da Modelagem:</label>
            <input type="text" name="nomeModelagens" class="form-input" required>
            <br>

            <label> Cidade: </label>
            <select name="nomeCidade">
                <option value="Registro">Registro</option>
              </select> 
              <br>

            <label> Checkpoint: </label>
            <select name="nomeCheckpoint">
                <option value="Galpão do KKKK">Galpão do KKKK</option>
              </select> 
              <br>

             
              <label>Arquivo da Modelagem: </label>
              <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                  <form action="/upload-modelagem" >
                      <input type="file" name="arquivoModelagens" class="btn-arquivo"  required>    
                  </form>
              </div>

            <br><br>
            <div class="div-botao">
                <button name="cadastrar-checkpoint" class="button-cadastro"> Cadastrar </button>
            </div>
            </div>
        </form>
    </div>

        <div class="consultar">
            <h4> Consultar Modelagem </h4>
            <div class= "pesquisa">
            </div>
            <table>
              <thead>
                <th> Id </th>
                <th> Nome da Modelagem </th>
                <th> Checkpoint </th>
                <th> Cidade </th>
              </thead>

              <tbody>

                <tr>
                  <td>1</td>
                  <td>Casa Suburbana</td>
                  <td>Praça Beira-Rio</td>
                  <td>Registro/SP</td>
                  <td>Casa Suburbana.tgif</td>
                  <td>
                      <Button name="editar-rota" class="btn-editar"> <i class = "fas fa-pencil"></i>
                      </Button>
                  </td>
                  <td>
                      <Button name="excluir-rota" class="btn-excluir"> <i class = "fas fa-cancel"></i></Button>
                  </td>
                  <td>
                    <Button name="abrir-mapa" class="abrir-modelagem" id="abrir-mapa"> <i class = "fas fa-cube"></i></Button>

                        <dialog id="conteudo-mapa">
                            <div class="corpo-modal">
                                <main>
                                    <div id="container3D"></div>
                                  </main>                                    
                            </div>
                        </dialog>

            </td>
                  
              </tr>

                <% modelagens.forEach(modelagens => { %>
                <tr>
                    <td><%= modelagens.id %></td>
                    <td><%= modelagens.nomeModelagens %></td>
                    <td><%= modelagens.nomeCidade %></td>
                    <td><%= modelagens.nomeCheckpoint %></td>
                    <td><%= modelagens.arquivoModelagens %></td>
                    <td><a href="/modelagens/edit/<%= modelagens.id %>"> <Button name="editar-usuario" class="btn-editar"> <i class = "fas fa-pencil"></i></Button></a></td>
                    <td><a href="/modelagens/delete/<%= modelagens.id %>"><Button name="excluir-usuario" class="btn-excluir"> <i class = "fas fa-cancel"></i></Button></a></td>
                    <td>
                      <Button name="abrir-mapa" class="abrir-modelagem" id="abrir-mapa"> <i class = "fas fa-cube"></i></Button>

                          <dialog id="conteudo-mapa">
                              <div class="corpo-modal">
                                  <main>
                                      <div id="container3D"></div>
                                    </main>                                    
                              </div>
                          </dialog>

              </td>
                </tr>
                <% }) %>
              </tbody>

             
                
            </table>
    </div>
</div>
</div>

<%- include ('partials/footer.ejs') %>