<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


<div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar Quiz </h4>
        <hr>
        <form action="/quizzes/update/<%= quizzes.id %>" method="POST">
            <div class="inserir-dados">
            <label> Nome do Quiz</label>
            <input type="text" name="pergunta" value="<%= quizzes.pergunta %>" class="form-input" required>
            <br>

            <label> Checkpoint: </label>
            <select name="checkpointQuizz">
                <option value="Galpão do KKKK">Galpão do KKKK</option>
                <option value="Europa">Europa</option>
              </select> 
              <br>

              <label> Alternativa A</label>
              <input type="text" name="alternativaA" value="<%= quizzes.alternativaA %>" class="form-input" required>
              <br>

              <label> Alternativa B</label>
              <input type="text" name="alternativaB" value="<%= quizzes.alternativaB %>" class="form-input" required>
              <br>

              <label> Alternativa C</label>
              <input type="text" name="alternativaC" value="<%= quizzes.alternativaC %>" class="form-input" required>
              <br>

              <label> Alternativa D</label>
              <input type="text" name="alternativaD" value="<%= quizzes.alternativaD %>" class="form-input" required>
              <br>

              <label> Alternativa E</label>
              <input type="text" name="alternativaE" value="<%= quizzes.alternativaE %>" class="form-input" required>
              <br>

              <label> Alternativa correta: </label>
              <input type="text" name="alternativaCorreta" value="<%= quizzes.alternativaCorreta %>" class="form-input" required>
              <br>

              <label>Vídeo explicativo: </label>
              <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                      <input type="file" name="upload-video-quiz" class="btn-arquivo">    
              </div>

            <div class="div-botao">
                <button name="cadastrar-checkpoint" class="button-cadastro"> Cadastrar </button>
                <input type="hidden" name="id" value="<%= quizzes.id %>">
            <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm (`Confirme as alterações realizadas para a modelagem <%= quizzes.pergunta %>`)">
            </div>
            </div>
        </form>
    </div>

    <%- include ('partials/footer.ejs') %>