<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Usuários </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar novo Usuário </h4>
        <hr>
        <form action="/usuarios/update/<%= usuario.id %>" method="POST">
            <div class="inserir-dados">
            <label> Nome:</label>
            <input type="text" name="nome"  values="<%= usuario.nome %>" class="form-input" required>
            <label> Nome de usuário:</label>
            <input type="text" name="nomeUsuario" values="<%= usuario.nomeUsuario %>"  class="form-input" required>
            <label> E-mail:</label>
            <input type="email" name="emailUsuario" values="<%= usuario.emailUsuario %>" class="form-input" required>
            <label>Senha:</label>
            <input type="password" name="senhaUsuario" values="<%= usuario.senhaUsuario %>" class="form-input" required>
            <br><br>
            <hr>
            <label> Permissões:</label><br>
            <input type="checkbox" name="permissao">
            <label for="permissao" class="texto-checkbox"> Editor</label>
            <input type="checkbox" name="permissao" > 
            <label for="permissao" class="texto-checkbox"> Leitor</label>
            <div class="div-botao">
                <input type="hidden" name="id" value="<%= usuario.id %>">
            <input type="submit" class="button-cadastro" value="Alterar" onclick="return confirm (`Confirme as alterações
            realizadas para o usuario <%= usuario.nomeUsuario %>?`)">
            </div>
           
            </div>
        </form>
    </div>

<%- include ('partials/footer.ejs') %>